* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #f0f0f0;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

/* nav */
header {
  width: 100%;
  background-color: #228b22;
  display: flex;
  justify-content: flex-end;
}

.nav-items {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 5%;
}
.nav-item {
  padding: 20px;
  display: block;
  font-size: 25px;
}
.nav-item:hover {
  background-color: #006400;
}
/* Conteiner */
.conteiner {
  width: 85%;
  margin: auto;
}

/* Main */

/* Welcome Section */
.welcome-section {
  width: 100%;
  height: 660px;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.welcome-section h1 {
  padding-top: 17%;
  font-size: 60px;
}
.welcome-section p {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 30px;
  color: #228b22;
}

/* Project Section */
.project-section {
  background-color: #228b22;
}
.project-section h2 {
  padding-top: 5%;
  font-size: 40px;
}
.project-items {
  margin-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
.project-item:hover {
  opacity: 0.95;
}
.project-item img {
  width: 400px;
  height: 300px;
}
.project-item p {
  font-weight: 400;
  font-size: 20px;
  padding: 15px 5px;
  text-align: center;
  background-color: #006400;
}
.project-item span {
  display: none;
}
.project-item span:hover {
  display: inline-block;
}

/* Contact Section */
.contact-section {
  background-color: #006400;
  text-align: center;
}
.contact-section p {
  font-style: italic;
  font-weight: 200;
  margin-bottom: 3%;
}
.contact-links {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}
.contact-link {
  display: block;
  font-size: 20px;
  margin: 5px;
}
.contact-link:hover {
  opacity: 0.8;
}
.contact-link i {
  margin-right: 5px;
}

/* Make adaptive */

@media (max-width: 1300px) {
  .welcome-section h1 {
    padding-top: 24%;
  }
  .project-items {
    justify-content: space-around;
  }
  .project-item {
    margin-bottom: 40px;
  }
  .project-item img {
    width: 450px;
    height: 350px;
  }
}

@media (max-width: 1150px) {
  .welcome-section h1 {
    padding-top: 27%;
  }
  .project-items {
    flex-direction: column;
    align-items: center;
  }
  .contact-section p {
    margin-top: 10px;
  }
}

@media (max-width: 950px) {
  header {
    justify-content: center;
  }
  .welcome-section {
    height: 550px;
  }
  .welcome-section h1 {
    font-size: 50px;
    padding-top: 30%;
  }
  .project-section h2 {
    font-style: 30px;
  }
}

@media (max-width: 750px) {
  .welcome-section h1 {
    padding-top: 33%;
  }
}

@media (max-width: 515px) {
  .nav-item {
    font-style: 20px;
    padding: 15px;
  }
  .welcome-section {
    height: 500px;
  }
  .welcome-section h1 {
    font-size: 35px;
    padding-top: 50%;
  }
  h2 {
    font-style: 30px;
  }
  .project-section h2 {
    font-size: 30px;
    padding-top: 8%;
    padding-bottom: 3%;
  }

  .project-section p {
    margin-bottom: 4%;
  }
  .project-item img {
    width: 280px;
    height: 180px;
  }
  .contact-section h2 {
    font-size: 30px;
  }
  .contact-link {
    font-size: 17px;
  }
}
